In [1]:
#Import necessary libraries
import pandas as pd
from pathlib import Path
%matplotlib inline

In [2]:
#Find and sort the values in a variable
temp_path = Path('Resources/US_Annual_Surface_Temp_Change.csv')

In [3]:
#Read the csv files and store in a variable
temp_df = pd.read_csv(temp_path,index_col='Fiscal Year', parse_dates=True)

In [6]:
#Display the DataFrame
temp_df

             Avg Surface Temperature Change
Fiscal Year
2003-01-01                            0.990
2004-01-01                            0.863
2005-01-01                            1.153
2006-01-01                            1.026
2007-01-01                            1.143
2008-01-01                            0.212
2009-01-01                            0.398
2010-01-01                            0.695
2011-01-01                            0.537
2012-01-01                            1.448
2013-01-01                            0.614
2014-01-01                            0.501
2015-01-01                            1.531
2016-01-01                            2.224
2017-01-01                            1.433
2018-01-01                            1.276
2019-01-01                            1.034
2020-01-01                            1.324
2021-01-01                            1.144
2022-01-01                            1.217

In [ ]:
#temp_df = temp_df.reset_index()

In [ ]:
#temp_df['Fiscal Year'] = temp_df['Fiscal Year'][:5]

In [ ]:
#temp_df.head()

In [ ]:
for Season in df_closing_prices:
    if df_closing_prices[timestamp][6] = 3 or df_closing_prices[timestamp][6] = 4 or df_closing_prices[timestamp][6] = 5:
        df_closing_prices[Season] = 'Spring'
    elif df_closing_prices[timestamp][6] = 6 or df_closing_prices[timestamp][6] = 7 or df_closing_prices[timestamp][6] = 8:
        df_closing_prices[Season] = 'Summer'
    elif df_closing_prices[timestamp][6] = 9 or df_closing_prices[timestamp][5:7] = 10 or df_closing_prices[timestamp][5:7] = 11:
        df_closing_prices[Season] = 'Autumn'
    else:
        df_closing_prices[Season] = 'Winter'

In [ ]:
def get_season(month):
    if month in [12, 1, 2]:
        return 'Winter'
    elif month in [3, 4, 5]:
        return 'Spring'
    elif month in [6, 7, 8]:
        return 'Summer'
    else:
        return 'Fall'
temp_df['season'] = temp_df['timestamp'].dt.month.apply(get_season)
print(temp_df)