In [1]:
import yfinance as yf

In [14]:
susa = yf.Ticker('SUSA')
susa_df= susa.history(period = '20y',interval='3mo')
susa_df[['Close']]

                               Close
Date
2005-01-01 00:00:00-05:00  18.988831
2005-04-01 00:00:00-05:00  19.411873
2005-07-01 00:00:00-04:00  19.857204
2005-10-01 00:00:00-04:00  20.384069
2006-01-01 00:00:00-05:00  21.149076
...                              ...
2022-04-01 00:00:00-04:00  79.452217
2022-07-01 00:00:00-04:00  74.932823
2022-10-01 00:00:00-04:00  81.652802
2023-01-01 00:00:00-05:00  87.429092
2023-04-01 00:00:00-04:00  88.739998

[74 rows x 1 columns]